@model ListRepositoriesViewModel
@{
    ViewData["Title"] = "Repositories - ";
    ViewData["IsListRepositories"] = true;
}

@section Scripts
{
    <script type="text/javascript" language="javascript">
        $(function() {
            new ClipboardJS('.clip-btn');
        });
    </script>
}

<div class="row">
    <div class="col-md-12">

        <h3>Repositories associated with your account</h3>
        <p>Manage your repositories by creating or revoking tokens as needed.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Organization
                    </th>
                    <th scope="col">
                        Repository
                    </th>
                    <th scope="col">
                        Secret
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ownerRepositories in Model.RepositoriesByOwner)
                {
                    var items = ownerRepositories.ToArray();
                    for (var index = 0; index < items.Length; index++)
                    {
                        var repo = items[index];
                        var accessToken = Model.TokenLookup[repo.Id].FirstOrDefault();

                        <tr>
                            @if (index == 0)
                            {
                                <td rowspan="@items.Length">
                                    <a href="@repo.OwnerUrl" target="_blank">@repo.Owner</a>
                                </td>
                            }
                            <td><a href="@repo.Url" target="_blank">@repo.Name</a></td>
                            <td>
                                @if (Model.CreatedTokenRepoId.HasValue && repo.Id == Model.CreatedTokenRepoId.Value)
                                {
                                    <div class="input-group">
                                        <input id="clip-token" value="@Model.CreatedToken"
                                               type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="clip-btn fas fa-clipboard" 
                                                   style="cursor:pointer"
                                                   data-clipboard-target="#clip-token"></i>
                                            </span>
                                        </div>
                                    </div>
                                }

                                <div>
                                    @if (accessToken == null)
                                    {
                                        @Html.ActionLink("Create Token", "CreateToken", "Account", new { gitHubRepositoryId = repo.Id })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Revoke Token", "RevokeToken", "Account", new { tokenId = accessToken.Id })
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>